@use "../../variants.module" as variants;
@use "../../../components/cards/Movie/DefaultMovieCard/DefaultMovieCard.module.scss"
  as movieCardVariants;

.page {
  &_header {
    font-size: 48px;
    font-weight: 800;
    color: variants.$text;
    margin: 40px 0;
  }

  &_movies {
    display: grid;
    justify-content: space-between;
    width: fit-content;
    margin: 36px auto 0;
    column-gap: 36px;
    row-gap: 36px;
    grid-template-columns: repeat(
      4,
      movieCardVariants.$default_movie_card_width
    );
  }
}
