@use "../../variants.module" as variants;
@use "../../../components/cards/Genres/GenresCard.module.scss" as
  movieCardVariants;

.page {
  &_header {
    font-size: 48px;
    font-weight: 800;
    color: variants.$text;
    margin: 40px 0;
  }

  &_genres {
    display: grid;
    justify-content: space-between;
    row-gap: 20px;
    grid-template-columns: repeat(
      3,
      movieCardVariants.$genres_card_width_large
    );
  }
}
