@use "../../../../app/variants.module" as variants;

$minimized_movie_card_width: 250px;

.minimized_movie_card {
  border-radius: 16px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  width: $minimized_movie_card_width;
  height: 100%;

  > h3 {
    color: variants.$text;
    font-weight: 800;
    flex-grow: 1;
  }

  > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variants.$text-secondary;
    font-weight: 700;
  }
}
