* {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 6 {
  .line-clamp-#{$i} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
  }
}
