@use "../../../app/variants.module" as variants;

.wrapper {
  &_head {
    display: flex;
    gap: 16px;
    align-items: center;

    &_title {
      font-size: 24px;
      font-weight: 800;
    }

    &_navigation {
      * {
        color: variants.$text;
      }

      display: flex;
    }

    &_more_control {
      margin-left: auto;
    }
  }

  > * + * {
    margin-top: 20px;
  }
}

.title_swiper {
  max-width: calc(variants.$container - variants.$sidebar-width);
  &_slide {
    height: auto;
    width: fit-content;
  }
}

.title_swiper_skeleton {
  > * + * {
    margin-top: 20px;
  }

  &_navigation {
    * {
      color: variants.$text;
    }

    > * {
      padding: 10px;
    }

    display: flex;
    gap: 4px;
  }

  &_swiper {
    display: flex;
    max-width: calc(variants.$container - variants.$sidebar-width);
    gap: 12px;

    > * {
      flex-shrink: 0;
      height: auto;
      width: max-content;
    }
  }
}
