@use "../../app/variants.module" as variants;

.sidebar {
  width: variants.$sidebar-width;
  height: 100vh;
  flex-shrink: 0;
  padding: 50px 23px;
  color: variants.$text;
  position: sticky;
  top: 0;
  overflow: hidden;

  > *:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu {
  > *:not(:last-child) {
    margin-bottom: 16px;
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    color: inherit;
    text-decoration: none;

    :nth-child(2) {
      flex-grow: 1;
      flex-shrink: 0;
    }

    &_isActive {
      position: relative;
      color: variants.$primary;

      ::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: variants.$primary;
        width: 2px;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}
